body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* custom button  */
.btn-primary {
  background-color: #e55473;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 7px;
}

/* header design part  */
.header {
  display: flex;
  background-color: #e554732a;
  align-items: center;
  justify-content: center;
}
.header > img {
  height: 500px;
}

.header-poster > h1 {
  font-size: 55px;
}
.header-poster p {
  color: #27272781;
}

/* feature images design  */
.feature-flower {
  margin-top: 80px;
}
.feature-img-main-div {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 33px;
}
.feature-title {
  text-align: center;
}
.feature-title h3 {
  font-size: 2em;
}
.feature-title p {
  font-size: 14px;
  color: #27272781;
}
.img img {
  height: 200px;
  border-radius: 50% 50% 0 0;

  padding: 55px;
}
.img > h5 {
  text-align: center;
  color: #27272781;
  text-decoration: underline;
}

.img-one {
  background-color: #a7216250;
}
.img-two {
  background-color: #0598a049;
}
.img-three {
  background-color: #477d1159;
}
/* hot deal design  */
.hot-deal {
  background-color: #e554732a;
}
.main-deals {
  margin: 53px auto;
  display: flex;
  align-items: center;

  width: 70%;
}
.hot-deal-text > p {
  font-size: 12px;
  color: #27272781;
}
.hot-deal-text > h1 > span {
  color: #e55473;
}

/* insta part design  */
.insta-img > img {
  height: 320px;
}

.insta-img {
  display: flex;
  gap: 6px;
  margin: 44px 0;
  justify-content: center;
  align-items: center;
}
.insta-text {
  text-align: center;
}
.insta-text > p {
  font-size: 12px;
  color: #27272781;
}
.instagram {
  margin: 85px 0;
}

/* subscribe part design  */
.sub {
  background: url("Flower Asset/Rectangle 9.png");
  width: 83%;
  height: 250px;
  background-repeat: no-repeat;
  margin: 44px auto;
}
.both {
  align-items: center;
  text-align: center;
  padding: 50px;
}
.sub-text > p {
  font-size: 12px;
  color: #27272781;
}
.input > input {
  padding: 10px;
  width: 355px;
  border: none;
}

/* extra part 
 */
.extra {
  background-color: #e554732a;
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.extra-text {
  text-align: center;
}
